<!-- start section contacto -->
<div class="w-full h-60 bg-gray-700 grid place-content-center mb-10">
  <h2 class="font-bold text-5xl text-white ">{{ infoConctac?.infoContacto?.titleContacto?.title }}</h2>
</div>
<!-- end section contacto -->

<!-- start section cards   -->
<info-card-company [infoCardCompany]="infoConctac?.infoContacto?.infoCards"></info-card-company>
<!-- end section cards  -->

<!-- start section form -->

<from-img [infoFromImg]="infoConctac?.infoContacto?.form"></from-img>

<!-- end section form -->
