
<!-- start section contacto -->

<div class="w-full h-60 bg-gray-700 grid place-content-center mb-10">
  <h2 class="font-bold text-5xl text-white ">{{ InfoAbout?.infoNosotros?.titleNosotros?.title }}</h2>
</div>

<!-- end section contacto -->


<!-- start section info services -->

<info-img-btn [infoImgBtn]="InfoAbout?.infoNosotros?.ourHistory"></info-img-btn>

<info-img-btn [infoImgBtn]="InfoAbout?.infoNosotros?.whoWeAre"></info-img-btn>

<!-- end section info services -->


<!-- start  section vision and mision-->

<short-info-card-graph [infoShortInfoCardGraph]="InfoAbout?.infoNosotros?.visionMision"></short-info-card-graph>

<!-- end section vision and mision -->


<!-- start section frequently questions   -->

<chordion-from [infoChordionFrom]="InfoAbout?.infoNosotros?.frequentlyQuestions"></chordion-from>

<!--  start section frequently questions -->

