
<!-- start section video -->

<shared-video></shared-video>

<!-- end section video -->


<!-- start section info cards -->

<info-cards [infoCard]="infoPage?.infoIndex?.infoLeyes"></info-cards>

<!-- end section info cards -->


<!-- start section info services -->

<info-img-btn [infoImgBtn]="infoPage?.infoIndex?.infoServices?.infoImgBtn"></info-img-btn>

<info-img-graph [infoImgGraph]="infoPage?.infoIndex?.infoServices?.infoImgGraph"></info-img-graph>

<!-- end section info services -->


<!-- start section handle services -->

<cards-services [infoCardServices]="infoPage?.infoIndex?.handleServices"></cards-services>
<!-- end section handle services -->


<!-- start section number services offer -->

<num-services-offer [infoNumServicesOffer]="infoPage?.infoIndex?.servicesOffer"></num-services-offer>

<!-- end section number servies offer  -->
